
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Welcome!</h1>

    <div>
        This message is from the View for @Model.Name
    </div>
</body>
</html>
